header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

header img{
    width: 60%;
    height: auto;
}

body{
    background-color: purple;
    margin-left: 0px;
    margin-right: 0px;
}

/* .banner{
    text-align: center;
} */

.rectangle{
    color:white;
    height: 100px;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
}

.inner-banner{
    text-align: center;
    padding-top: 30px;
}

